__pycache__/
datasets/
vgg*.pth
outputs/
annotations_trainval2017/
train2017/
test2017/
val2017/
examples/
figs/
figs2/

*.zip
*.out
decoder_*

stylized.png.png
stylized.png_smooth_gif.png
stylized.png_smooth_mat.png
train.sbatch

perceptual_loss.py
run_wct_origin.py

output.png
